{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-debugger": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "no-unused-vars": "warn"
  },
  "ignorePatterns": [
    "dist"
  ],
  "globals": {},
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
